body {
	background-image: url(../images/seigaiha.png);
}
.myImage {
	float: left;
	width: 40%;
	margin: 20px;
}

.animal {
	margin: 10px;	
}

.side-bar {
 	position: sticky;
 	top: 0;
}

#image-display p {
	font-weight: bold;
}